{{!-- THE HOME PAGE --}}


<section class="section grey darken-4 homeHero">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l8">
                {{#if signed_in}}
                <h1 class=" grey-text text-lighten-2 logoFont">WELCOME BACK <span class="grey darken-3">{{username}}</span>! ARE YOU READY TO TALK TECH TODAY?</h1>
                {{else}}
                <h1 class=" grey-text text-lighten-2 logoFont"><span class="grey darken-3">WELCOME</span> TO THE TECHIEST TECH BLOG TO EVER TALK TECH!</h1>
                {{/if}}
            </div>
        </div>
    </div>
</section>

<section class="section container">
    {{#each posts as |post|}}
        <h3><a class="teal-text" href="/post/{{post.id}}">{{post.title}}</a></h3>
        <p>By <span class="grey darken-3 green-text">{{post.user.username}}</span></p>
        <p>{{post.formattedDate}}</p>
        <p class="flow-text">{{post.content}}</p>
    {{/each}}
</section>
